<main>
  <div>
    <p>Filter by</p>
    <form action="/">
      <div>
        <label for="category">Category</label>
        <select name="category" id="category">
          <option value="">all categories</option>
          <% filters.categories.forEach((item) => { %>
          <option value=<%= item.id %> <%= item.id === indexQuery.category ? "selected" : "" %>><%= item.name %></option>
          <% }); %>
        </select>
      </div>
      <div>
        <label for="language">Language</label>
        <select name="language" id="language">
          <option value="">all languages</option>
          <% filters.languages.forEach((item) => { %>
          <option value=<%= item.id %> <%= item.id === indexQuery.language ? "selected" : "" %>><%= item.name %></option>
          <% }); %>
        </select>
      </div>
      <div>
        <label for="tool">Tool</label>
        <select name="tool" id="tool">
          <option value="">all tools</option>
          <% filters.tools.forEach((item) => { %>
          <option value=<%= item.id %> <%= item.id === indexQuery.tool ? "selected" : "" %>><%= item.name %></option>
          <% }); %>
        </select>
      </div>
      <input type="hidden" name="page" value="1">
      <button>Apply</button>
    </form>
  </div>
  <div>
    <% const categoryName = indexQuery.category ? 
      filters.categories.find(item => item.id === indexQuery.category).name : "All projects"; %>
    <h2><%= categoryName[0].toUpperCase() + categoryName.slice(1) %></h2>
    <p><%= filteredProjectNumber %> items found</p>
    <div>
      <% compartedProjects.forEach((item) => { %>
      <article>
        <a href=<%= `/project/${item.project_id}` %>><img src=<%= item.image %> alt="Project image"></a>
        <div>
          <a href=<%= `/project/${item.project_id}` %>>
            <h3><%= item.name %></h3>
            <p>Category: <%= item.category.join(", ") %></p>
            <p><%= item.description %></p>
          </a>
          <p><a href=<%= item.source %>><%= item.source %></a></p>
        </div>
      </article>
      <% }); %>
    </div>
    <div>
      <% Object.keys(indexQuery).forEach(key => {
        if(!indexQuery[key]) indexQuery[key] = "";
      }); %>
      <a href=<%= `/?category=${indexQuery.category}&language=${indexQuery.language}&tool=${indexQuery.tool}&page=${indexQuery.page - 1}` %>
        class=<%= indexQuery.page === 1 ? "disable" : "" %>>
        <img src="/images/chevron-left.svg" alt="">
      </a>
      <p><%= indexQuery.page %></p>
      <a href=<%= `/?category=${indexQuery.category}&language=${indexQuery.language}&tool=${indexQuery.tool}&page=${indexQuery.page + 1}` %>
        class=<%= indexQuery.page === Math.floor((filteredProjectNumber - 1) / 10) + 1 ? "disable" : "" %>>
        <img src="/images/chevron-right.svg" alt="">
      </a>
    </div>
  </div>
</main>
