<main>
  <%- include("delete-project") %>
  <h2><%= project.name %></h2>
  <img src="<%= project.image %>" alt="Project image" />
  <div>
    <p>
      Source code: <a href="<%= project.source %>"><%= project.source %></a>
    </p>
    <p>Website: <a href="<%= project.website %>"><%= project.website %></a></p>
  </div>
  <div>
    <p>Category:</p>
    <div>
      <% project.category.forEach((item) => { %>
      <p><%= item %></p>
      <% }); %>
    </div>
  </div>
  <div>
    <p>Language:</p>
    <div>
      <% project.language.forEach((item) => { %>
      <p><%= item %></p>
      <% }); %>
    </div>
  </div>
  <p><%= project.description %></p>
  <section>
    <h3>Features</h3>
    <ul>
      <% project.features.split("\n").forEach((item) => { %>
      <li><%- item %></li>
      <% }); %>
    </ul>
  </section>
  <section>
    <h3>Tech stack</h3>
    <ul>
      <% project.stack.split("\n").forEach((item) => { %>
      <li><%- item %></li>
      <% }); %>
    </ul>
  </section>
  <div>
    <form action="<%= `/project/${projectId}/edit` %>">
      <button>
        <img src="/images/square-pen.svg" alt="" />
        <p>edit</p>
      </button>
    </form>
    <button id="delete">
      <img src="/images/trash-2.svg" alt="" />
      <p>delete</p>
    </button>
  </div>
</main>
