<main class="no-filter project">
  <%- include("delete-project") %>
  <h2><%= project.name %></h2>
  <% if (project.image) { %>
  <img src="<%= project.image %>" alt="Project image" />
  <% }; %>
  <div class="info-section">
    <p>Source code: <a href="<%= project.source %>" target="_blank" rel="noopener noreferrer"><%= project.source %></a></p>
    <% if (project.website) { %>
    <p>Website: <a href="<%= project.website %>" target="_blank" rel="noopener noreferrer"><%= project.website %></a></p>
    <% }; %>
  </div>
  <div class="info-section tags">
    <p>Category:</p>
    <div>
      <% project.category.forEach((item) => { %>
      <p class="category-tag"><%= item %></p>
      <% }); %>
    </div>
  </div>
  <div class="info-section tags">
    <p>Language:</p>
    <div>
      <% project.language.forEach((item) => { %>
      <p class="language-tag"><%= item %></p>
      <% }); %>
    </div>
  </div>
  <p><%- project.description.replace(/\n/g, "<br />") %></p>
  <section>
    <h3>Features</h3>
    <ul>
      <% project.features.split("\n").forEach((item) => { %>
      <li><%- item %></li>
      <% }); %>
    </ul>
  </section>
  <% if (project.stack) { %>
    <section>
      <h3>Tech stack</h3>
      <ul>
        <% project.stack.split("\n").forEach((item) => { %>
        <li><%- item %></li>
        <% }); %>
      </ul>
    </section>
  <% }; %>
  <div class="project-buttons">
    <form action="<%= `/project/${projectId}/edit` %>">
      <button class="icon-text edit">
        <img src="/images/square-pen.svg" alt="" />
        <p>edit</p>
      </button>
    </form>
    <button id="delete" class="icon-text delete">
      <img src="/images/trash-2.svg" alt="" />
      <p>delete</p>
    </button>
  </div>
</main>
